/* :root {
  --color-background: #f9f4f2;
  --color-surface: #ffffff;
  --color-text-primary: #272932;
  --color-text-secondary: #8a8c90;
  --color-text-tertiary: #52545b;
  --color-primary: #c2e66e;
  --color-secondary: #ffcb65;
  --color-tertiary: #ffa257;
  --color-neutral-light: #eeeeef;
  --color-neutral-dark: #e1e1e2;
  --color-border: #e1e1e2;

} */