<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <contextName>dinhduong-app</contextName>
    <!-- Pattern không màu cho file -->
<!--    muốn có màu trong file log dùng plugin hỗ trợ >> ideolog-->
    <property name="LOG_PATTERN_FILE"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>
    <!-- Pattern có màu cho console -->
    <property name="LOG_PATTERN"
              value="%highlight(%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n)"/>


    <!-- Console appender: hiển thị DEBUG trở lên -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- File appender: chỉ lưu INFO trở lên -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>false</append>
        <file>logs/app.log</file>
        <encoder>
            <pattern>${LOG_PATTERN_FILE}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
